body{
	text-align: center;
	background-image: url(../images/concrete_seamless.png);
}

#title {

	font-family: 'Monoton', cursive;
	font-size: 70px;
}

#smallerTitle {
	font-family: 'Monoton', cursive;
	font-size: 30px;
}

#buttonTitle {
	font-family: 'Monoton', cursive;
	font-size: 50px;
}

aside {
	float: none;
	border: 2px solid black;
	margin: 10px;
	padding: 10px;
	background-color: #9CCB19;
	font-family: 'BioRhyme', serif;
}

.gifThings {
	float: none;
	font-family: 'BioRhyme', serif;
}

button {
	font-family: 'BioRhyme', serif;
	padding: 5px;
	margin: 10px;
	background-color: #E8F1D4;
}

.cartoonButtonHere {
	float: left;
	border: 2px solid black;
	margin: 10px;
	padding: 10px;
	background-color: #fff;
}

div .item {
	float: left;
	display: inline;
	margin: 10px;
	border:1px solid black;
	padding: 5px;
}


