body{
	text-align: center;
	background-image: url(../images/concrete_seamless.png);
}

#title {

	font-family: 'Monoton', cursive;
	font-size: 70px;
}

#smallerTitle {
	font-family: 'Monoton', cursive;
	font-size: 30px;
}

#buttonTitle {
	font-family: 'Monoton', cursive;
	font-size: 50px;
}

aside {
	//height: 800px;
	position: static;
	float: none;
	border: 2px solid black;
	margin: 10px;
	padding: 10px;
	//padding-top: 200px;
	background-color: #9CCB19;
	font-family: 'BioRhyme', serif;
}

.gifThings {
	float: none;
	font-family: 'BioRhyme', serif;
}

button {
	font-family: 'BioRhyme', serif;
	padding: 5px;
	margin: 10px;
	background-color: #E8F1D4;
}

.cartoonButtonHere {
	float: left;
	border: 2px solid black;
	margin: 10px;
	padding: 10px;
	background-color: #fff;
}

.item {
	float: left;
	display: inline;
	margin: 10px;
	border:1px solid black;
	padding: 5px;
	background: #fff;
	position: relative;
}

[data-state='still'] {
	opacity: 0.5;
}

.playButton [data-state='still'] {
	display: none;
}

.playButton {
	position: absolute;
	top: 30px;
	left: 30px;
	opacity: 1.0;
	width: 50px;
	height: 50px;

}

/*
@media (max-width: 980px) {
	aside {
		height: 300px;
		padding: 20px;
	}
}*/

